# ===== UniFi UDR Local GUI =====
# Обов'язково:
UNIFI_API_KEY=your-api-key-here

# Опціонально:
UDR_BASE=https://192.168.69.1
UNIFI_SITE_ID=88f7af54-98f8-306a-a1c7-c9349722b1f6
PORT=5173

# Встановити 1 для пропуску TLS валідації (тільки dev)
UNSAFE_TLS=0
